.text-uppercase {
	text-transform: uppercase;
}

.flex-container{
	display: flex;
}

.img-responsive{
	max-width: 100%;
	width: 100%;
}

.hidden{
	display: none;
}

.reverso{
	flex-direction: row-reverse;
}
.links{
	flex-flow: column wrap;
}
.links img{
	width: 120px;
}